@media(max-width:491px){
    #InputField{
      height: 40px;
      }
.HeadChild{
       font-size:20px;
      }

}
@media(min-width:492px) and (max-width:1023px){
#InputField{
        height: 47px;
     }
.HeadChild{
      font-size:30px;
     }
   }
@media(min-width:1024px){
#InputField{
       height: 40px;
    }
.HeadChild{
      font-size:40px;
    }
}
.Time{
    margin-left: auto;
    padding-right: 5px;
    color: gold;
}
.NameOfUser{
   margin-left: 5px;
   color:gold;
}
.ChatBox{
    display: flex;
    flex-direction: column;
    height: max-content;
    width: 80%;
    margin-top: 10px;
    margin-left: 10px;
    border: 2px solid goldenrod;
    background-color: rgb(125, 117, 117);
    border-radius: 25px;
    color: white;
    padding: 5px;
}
#ChatBody{
   padding-bottom: 10%;
}
#InputField{
   display: flex;
   width: 90%;
   position: fixed;
   bottom: 0px;
   padding:7px;
}
#UserMessage{
   width: 80%;
   background-color: slategray;
   border: 3px solid rgb(60, 81, 102);
   border-radius: 25px;
   color: white;
}
button{
    width: 15%;
    background-color: rgb(6, 60, 113);
    border: 2px solid rgb(60, 81, 102);
    border-radius: 25px;
    color: white;
    font-size: medium;
}
.HeadChild,#Head{
     display: flex;
     align-items: center;
     justify-content: center;
     background-color: black;
}
Img{
     height: 40%;
     width: 100%;
}
.HeadChild{
    flex-direction: column;
    color: white;
    width: 33%;
    word-spacing: 5%;
    padding: 5px;
}