@media(max-width:491px){
    #Submit{
     height: 20px;
     font-size: 13px;
   }
    input{
         padding-left: 5px;
         height: 20px;
         width: 220px;
    }
    a{
    font-size: 20px;
        }
        h3{
            font-size: 19px;
            margin: 5px 0px;
        }
        .Login{
            border-radius: 8%;
            width: 320px;
            height: 480px;
        }
    }
    @media(min-width:492px) and (max-width:1023px){
        #Submit{
     height: 25px;
     font-size: 15px;
   }
    input{
         padding-left: 5px;
         height: 25px;
         width: 225px;
    }
    a{
    font-size: 24px;
        }
        h3{
            font-size: 22px;
        }
 .Login{
            border-radius: 8%;
            width: 350px;
            height: 530px;
        }
    }
    @media(min-width:1024px){
        #Submit{
     height: 29px;
     font-size: 18px;
   }
    input{
         padding-left: 5px;
         height: 28px;
         width: 250px;
    }
    a{
    font-size: 28px;
        }
        h3{
            font-size: 25px;
            margin: 8px 0px;
        }
        .Login{
            border-radius: 8%;
            width: 400px;
            height: 620px;
                }
    }
    #Submit{
        background-color: black;
        color: white;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    } 
    input{
         color: blue;
         border-radius: 25px;
    }
    a{    
          text-align: center;
          text-decoration: none;
          color: rgb(187, 15, 255);
        }
    h3{
            color: skyblue;
        }
    body{
        background-image: url(Sign-Up.jpg);
        background-size: 100%;
        color: white;
    }
    .Login{
        background-color: rgba(171, 186, 177, 0.5) ;
        border-radius: 8%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: auto auto;
    }
    body{
        display: flex;
        align-items: center;
        justify-content:center;
    }